body {
    background-color: #fffddc;
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 1em;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    background-color: bisque;
    color: brown;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    width: fit-content;
    border-radius: 8px;
}

.cover-img {
    height: 200px;
    overflow: hidden;
}

.cover-img img {
    width: 100%;
    height: auto;
    max-height: 30vh;
    object-fit: cover;
}

.profile-img {
    width: 30%;
    max-width: 10rem;
    height: auto;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.profile-info, .info-contacto {
    background: white; 
    padding: 1.5em;
    text-align: center; 
    border-radius: 10px;
    margin: 2em auto;
    width: 70%;
    box-sizing: border-box;
}

.info-contacto ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

@media (max-width: 768px) {
    .profile-info, .info-contacto {
        padding: 1em;
        width: 75%;
    }

    h1 {
        font-size: 1.2em;
        margin: 10px auto;
    }

    .profile-img {
        max-width: 8rem;
    }

    .cover-img img {
        max-height: 25vh;
    }
}

@media (max-width: 576px) {
    .profile-info, .info-contacto {
        padding: 0.5em;
        width: 85%;
    }

    h1 {
        font-size: 1em;
        padding: 5px;
    }

    .profile-img {
        max-width: 7rem;
    }

    .cover-img img {
        max-height: 20vh;
    }

    .info-contacto ul {
        padding-left: 0;
        margin: 0;
        text-align: center;
    }
}
